@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 230 60% 11%;
    --foreground: 0 0% 100%;

    --card: 230 50% 14%;
    --card-foreground: 0 0% 100%;

    --popover: 230 50% 14%;
    --popover-foreground: 0 0% 100%;

    --primary: 252 75% 58%;
    --primary-foreground: 0 0% 100%;

    --secondary: 230 40% 20%;
    --secondary-foreground: 0 0% 100%;

    --muted: 230 30% 22%;
    --muted-foreground: 252 60% 78%;

    --accent: 252 75% 58%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 230 30% 25%;
    --input: 230 30% 25%;
    --ring: 252 75% 58%;

    --radius: 0.75rem;

    --sidebar-background: 230 50% 10%;
    --sidebar-foreground: 0 0% 90%;
    --sidebar-primary: 252 75% 65%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 230 40% 18%;
    --sidebar-accent-foreground: 0 0% 90%;
    --sidebar-border: 230 30% 20%;
    --sidebar-ring: 252 75% 65%;
  }

  .dark {
    --background: 230 60% 11%;
    --foreground: 0 0% 100%;

    --card: 230 50% 14%;
    --card-foreground: 0 0% 100%;

    --popover: 230 50% 14%;
    --popover-foreground: 0 0% 100%;

    --primary: 252 75% 58%;
    --primary-foreground: 0 0% 100%;

    --secondary: 230 40% 20%;
    --secondary-foreground: 0 0% 100%;

    --muted: 230 30% 22%;
    --muted-foreground: 252 60% 78%;

    --accent: 252 75% 65%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;

    --border: 230 30% 25%;
    --input: 230 30% 25%;
    --ring: 252 75% 65%;
    --sidebar-background: 230 50% 10%;
    --sidebar-foreground: 0 0% 90%;
    --sidebar-primary: 252 75% 65%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 230 40% 18%;
    --sidebar-accent-foreground: 0 0% 90%;
    --sidebar-border: 230 30% 20%;
    --sidebar-ring: 252 75% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
